<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>telafica SMS Gateway - Beta Testing</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/normalize.css">

</head>

<body class="login">
    <div class="container">
        <div class="twelve columns center logo">
            <img src="images/logo.png" alt="telafrica mobile"/>
        </div>
        <div class="twelve columns center white login-title">
        </div>
    </div>
    <div class="container">
        <div class="six columns offset-by-three">
            <div class="login-wrapper center">
                <div class="twelve columns login-form">
                       <h1><strong>Thank you for registering for the Beta Testing Phase.</strong></h1>
                    <h4>You will be e-mailed as soon as the SMS Gateway becomes available and you can begin using your free credits.</h4>
                    <p><a href="/">Return to Home Page</a>
                </div>
            <div class="twelve columns"><div class="spacer"></div></div>
            </div>
        </div>
    </div>
</body>
</html>
