<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>telafica SMS Gateway - Log In</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/normalize.css">

</head>

<body class="login">
    <div class="container">
        <div class="twelve columns center logo">
            <img src="images/logo.png" alt="telafrica mobile"/>
        </div>
        <div class="twelve columns center white login-title">
        </div>
    </div>
    <div class="container">
        <div class="six columns offset-by-three">
            <div class="login-wrapper center">
                <div class="twelve columns login-form">
                       <h1>Website Coming Online Soon. Please stay in touch</h1>
                    <h4><a href="mailto:reseller@telafricamobile.com">Send us an e-mail</a> </h4>
                </div>
            <div class="twelve columns"><div class="spacer"></div></div>
            </div>
        </div>
    </div>
</body>
</html>
